@model IEnumerable<WebApplication10Jan20Country.Models.Shoe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CapitalCityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShoeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShoeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShoeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
